@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.App {
    background-image: url("../img/bgc.png");
    min-height: 100vh;
    min-width: 100vw;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

.wrapper {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
}

* {
    margin: 0 auto;
}