.input {
    width: 90%;
    padding: 20px;
    margin-top: 40px;

}

@media (orientation: portrait) and (min-width: 768px) {
    .input {
        width: 80%;

    }
}

@media (orientation: landscape) and (min-width: 1024px) {
    .input {
        width: 60%;
    }
}